body {
  background-color: rgba(71, 102, 59);
  color: white;
}

.wrapper {
  max-width: 500px;
  margin: 60px auto;
  padding: 20px 60px;
  background-color: rgba(71, 102, 59);
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0 20px 30px 20px;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}

select {
  width: 100%;
  padding: 7px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.city:last-child {
  border: none;
  margin: 0 20px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0;
}

.date {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0 20px 0;
}

.time {
  font-size: 45px;
}

.am-pm {
  font-size: 21px;
  vertical-align: middle;
  margin-left: -5px;
}

.signature {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: monospace;
}

a {
  color: rgba(255, 255, 255, 0.5);
}
